---
import Shell from "../components/shell.astro";
import Shows from "../components/shows.astro";
---

<style is:global>
  .featured-wrapper {
    padding: 2rem 0;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
  }

  .featured-title {
    margin: 0;
    transform: translate(1rem, 0.5rem);
  }

  .featured-row {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
  }
</style>

<Shell active="Featured">
  <div class="featured-wrapper">
    <div class="featured-row">
      <h2 class="featured-title">Crime</h2>
      <a
        href="/app-example/browse/genre-1"
        class="featured-title">View All</a
      >
    </div>

    <Shows filter="1" limit={6} />

    <div class="featured-row">
      <h2 class="featured-title">Nature</h2>
      <a
        href="/app-example/browse/genre-5"
        class="featured-title">View All</a
      >
    </div>
    <Shows filter="5" limit={6} />

    <div class="featured-row">
      <h2 class="featured-title">Animation</h2>
      <a
        href="/app-example/browse/genre-8"
        class="featured-title">View All</a
      >
    </div>

    <Shows filter="8" limit={6} />

    <div class="featured-row">
      <h2 class="featured-title">War</h2>
      <a
        href="/app-example/browse/genre-6"
        class="featured-title">View All</a
      >
    </div>
    <Shows filter="6" limit={6} />
  </div>
</Shell>
